/*
# -*- coding: utf-8 -*-
Created on Sun Jun 26 19:20:58 2022
@author: SyedRaheeb
*/

body {
    background: #FAFAFA;
}

.navbar-brand {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.custom-file-label {
    text-align: left;
}

.btn-primary {
    background: #30475e;
    border: none;
}

#result {
    margin-top: 2em;
    color: #30475e;
    font-size: 1.3em;
}

.font-weight-bold {
    font-weight: bold;
    color: #09866F;
}
